::ng-deep .tooltip{
    position: absolute;
    padding: 10px;
    background-color: white;
    border: 1px solid;
    border-radius: 6px;
    color: black;
}

::ng-deep .tooltip > * {
    color: black;
}

::ng-deep .progress{
    display: flex;
    height: 1rem;
    overflow: hidden;
    font-size: 0.75rem;
    background-color: #e9ecef;
    border-radius: 0.25rem;
}

::ng-deep .progress-bar{
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-pack: center;
    justify-content: center;
    color: black;
    text-align: center;
    white-space: nowrap;
    background-color: #007bff;
    transition: width 0.6s ease;
}

.tick{
    font-size: 16px;
}

.outter{
    border: 1px solid snow;
    border-radius: 4px;
}